.gutters {
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
  width: 980px;
}

.w-full {
  width: 100%;
}

.gap-05 {
  gap: 0.5rem;
}

.pt-10 {
  padding-top: 1rem;
}

.pb-15 {
  padding-bottom: 1.5rem;
}

.py-10 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-0 {
  margin: 0;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mt-10 {
  margin-top: 1rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mt-70 {
  margin-top: 7rem;
}

.mt-2px {
  margin-top: 2px;
}

.mb-03 {
  margin-bottom: 0.3rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.ml-auto {
  margin-left: auto;
}
